<div class="profile-banner">

  <div class="profile-info">

    <div class="profile-img-container">
      <img 
        *ngIf="usuario.imagen; else placeholder"
        [src]="usuario.imagen" 
        alt="Foto de perfil"
        class="profile-img"
      >

      <ng-template #placeholder>
        <img 
          src="https://cdn-icons-png.flaticon.com/512/1053/1053244.png" 
          alt="Sin imagen"
          class="profile-img"
        >
      </ng-template>
    </div>

    <div class="profile-text">
      <h2>{{ usuario.nombre }} {{ usuario.apellidoPaterno }} {{ usuario.apellidoMaterno }}</h2>
      <p>{{ usuario.email }}</p>
      <button class="btn-edit" [routerLink]="['/usuario', usuario.idUsuario]">
        Editar perfil
      </button>
    </div>

  </div>

</div>